html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.similar-artsts{
    max-width: 960px;
    margin: 0 auto;
}

@media screen and (max-width: 460px) {
    h1{
        font-size: 22px;
    }

    .similar-artsts {
        padding: 0 20px;
    }
}

.similar-artsts input[type="text"]{
    box-sizing(border-box);
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    outline: none;
}

.similar-artsts input[type="text"]:focus{
    background-color: #fafafa;
}

.artist-list{
    overflow: hidden;
    list-style: none;
    padding: 0;
}

.artist-list li{
    cursor: pointer;
    position: relative;
    overflow: hidden;
    float: left;
    margin: 0 10px 10px;
    padding-top: 20px;
    width: 218px;
    height: 240px;
    border: 1px solid #ddd;
    text-align: center;
}

.artist-list li:before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
}

.artist-list li:after{
    content: "";
    display: block;
    background: url(../img/play_overlay.png) no-repeat center;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    opacity: 0;
}

.artist-list li.loading:after{
    content: "";
    display: block;
    background: url(../img/loader.gif) no-repeat center;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -16px;
    opacity: 1;
}

.artist-list li.loading:before{
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 1;
}

.artist-list li:hover:before,
.artist-list li:hover:after,
.artist-list li.active:before,
.artist-list li.active:after{
    opacity: 1;
}

.artist-list li p{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .similar-artsts{
        max-width: 720px;
    }
}


@media screen and (max-width: 720px) {
    .artist-list{
        margin: 0;
    }

    .artist-list li{
        width: -webkit-cal(50% - 20px);
        width: calc(50% - 20px);
    }
}


.loader{
    font-size: 12px;
    text-align: center;
    display: none;
    margin: 0;
}

.loader.show{
    display: block;
}

.message{
    font-size: 12px;
    text-align: center;
    display: none;
    margin: 0;
}

.message.show{
    display: block;
}

