html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.similar-artsts{
    max-width: 960px;
    margin: 0 auto;
}

@media screen and (max-width: 460px) {
    h1{
        font-size: 22px;
    }

    .similar-artsts {
        padding: 0 20px;
    }
}

.similar-artsts input[type="text"]{
    box-sizing(border-box);
    display: block;
    width: 100%;
    /*max-width: 400px;*/
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    outline: none;
}

.similar-artsts input[type="text"]:focus{
    background-color: #fafafa;
}

.artist-list{
    overflow: hidden;
    list-style: none;
    padding: 0;
}

.artist-list li{
    overflow: hidden;
    float: left;
    margin: 0 10px 10px;
    padding-top: 20px;
    width: 218px;
    height: 240px;
    border: 1px solid #ddd;
    text-align: center;
}

.artist-list li p{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}


@media screen and (max-width: 460px) {
    .artist-list{
        margin: 0;
    }

    .artist-list li{
        width: -webkit-cal(50% - 20px);
        width: calc(50% - 20px);
    }
}


.loader{
    font-size: 12px;
    text-align: center;
    display: none;
    margin: 0;
}

.loader.show{
    display: block;
}

.message{
    font-size: 12px;
    text-align: center;
    display: none;
    margin: 0;
}

.message.show{
    display: block;
}

